<% include ../partials/navbar %>
<link rel="stylesheet" href="/stylesheets/main.css">
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard Welcome
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/welcome"><i class="fa fa-dashboard"></i> Home</a></li>
      </ol>
    </section>
    <!-- Main content -->
    <div>
      <% if(success && success.length > 0) { %>
        <div class="alert alert-success alert-dismissable fade in">
          <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
          </button><p><%= success %><% if(!currentUser){ %>
          <% } else { %>
        <%= currentUser.username %>
        <% } %></span></div>
      <% } %>
    </div>

</div>


 <% include ./partials/footer %>

